<!-- <div [@openClose]="isOpen?'open':' closed'">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi eos enim, excepturi placeat perspiciatis quibusdam laborum ipsa, molestias quis ipsum iusto atque assumenda quam autem exercitationem error, accusantium tenetur vel?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, explicabo!
        Laborum non ad, odit quasi esse magni, similique provident, doloremque excepturi accusamus labore voluptatem dignissimos illum? Eligendi esse quia accusamus!</p>

        <button (click)="toogle()">click</button>
    </div> -->
